/* crating variable in css: --yourname: command.
unsing a css variable var(--yourname);
/* holds the ul */
.navigationBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
/* Defines Li  */
.navigationList{
float: left;
}

.navigationText{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
  }
  .navigationText:hover{
    background-color: #333;
  }
  .pageStructure{
    display: block;
    margin-top: 2.5;
    margin-left: 13%;
    margin-right: 13%;
  
  }
  .paragraphs{
      font-weight: bold;
  }
  .pageStructureCV{
    display: block;
    margin-top: 2.5;
    margin-left: 13%;
    margin-right: 13%;
    background-color: antiquewhite;
    border-radius: 1%;
    margin-top: 1%;
    height: 100%;
    overflow: hidden;
  }
  .pageStructureAbout{
    display: block;
    margin-top: 2.5;
    margin-left: 13%;
    margin-right: 13%;
    background-color: antiquewhite;
    border-radius: 1%;
    margin-top: 1%;
    height: 100%;
    overflow: hidden;
    min-height: 600px;
  }
  .pageStructureHobbies{
    display: block;
    margin-top: 2.5;
    margin-left: 13%;
    margin-right: 13%;
    background-color: antiquewhite; 
    border-radius: 1%;
    margin-top: 1%;
    height: 100%;
    overflow: hidden;
    min-height: 600px;
  }
  .backgroundPicture{
    background-image: url('../Image/bøger-lille.jpeg');
    background-color: #cccccc;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 600px;
  }  
  footer{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cvDiv{
      padding-left: 3%;
      min-height: 600px;
  }
  .aboutMeResumé{
    padding-left: 3%;
  }
